<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HealBro inc.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">HealBro inc.</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a th:href="@{/}">
                        <span th:text="#{menu.main}"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/registrationPage}">
                        <span th:text="#{menu.registration}"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user}">
                        <span th:text="#{menu.profile}"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/login}">
                        <span th:text="#{menu.login}"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/logout}">
                        <span th:text="#{menu.logout}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div class="starter-template">
        <h2>
            <span th:text="#{greeting.message}"></span>
        </h2>
    </div>
    <div>
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value=""></option>
            <option value="en" th:text="#{lang.eng}"></option>
            <option value="ru" th:text="#{lang.rus}"></option>
        </select>
    </div>
</div>
<!-- /.container -->

<script type="text/javascript"
        src="../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>