<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="starter-template">
        <h1><span th:text="#{registration.message}"></span></h1>
    </div>
    <div class="starter-template">
        <form action="#" th:action="@{/register/patient}" th:object="${patientDTO}" method="post">
            <table>
                <tr>
                    <td><label th:text="#{login.message}" ></label></td>
                    <td><input type="text" th:field="*{login}" /></td>
                    <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></td>
                </tr>
                <tr>
                    <td><label th:text="#{password.message}" ></label></td>
                    <td><input type="password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
                </tr>
                <tr>
                    <td><label th:text="#{password.confirm.message}" ></label></td>
                    <td><input type="password" th:field="*{confirmPassword}" /></td>
                    <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></td>
                </tr>
                <tr>
                    <td><label th:text="#{firstName.message}" ></label></td>
                    <td><input type="text" th:field="*{firstName}" /></td>
                    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>
                </tr>
                <tr>
                    <td><label th:text="#{lastName.message}" ></label></td>
                    <td><input type="text" th:field="*{lastName}" /></td>
                    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>
                </tr>
                <tr>
                    <td><label th:text="#{age.message}" ></label></td>
                    <td><input type="number" th:field="*{age}" /></td>
                    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
                </tr>
                <tr>
                    <td><label th:text="#{email.message}" ></label></td>
                    <td><input type="email" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
                </tr>
                <tr>
                    <td><label th:text="#{telephone.message}" ></label></td>
                    <td><input type="number" th:field="*{contactTelephoneNumber}"/></td>
                    <td th:if="${#fields.hasErrors('contactTelephoneNumber')}" th:errors="*{contactTelephoneNumber}"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>